@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(0, 0, 0, 0.5);
  --background-glass: color-mix(in oklab, var(--bg) 80%, transparent);
  --border-glass: color-mix(in oklab, var(--background-glass) 70%, white);
}

#plasmo-shadow-container {
  all: initial;
  box-sizing: border-box;
}

.plasmo-root {
  all: initial;
  box-sizing: border-box;
}

.tooltip-item {
  transform: translate(0px, 0px);
}

.tooltip-item-toggle {
  width: 32px;
  height: 32px;
  transform: translate(-16px, -16px);
}

.tooltip-item-modal {
  min-width: 400px;
  border-color: color-mix(in oklab, var(--background-glass) 70%, white);
  background-color: color-mix(in oklab, var(--background) 80%, transparent);
  box-shadow:
    rgba(255, 255, 255, 0.2) 0px 1px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -1px 0px inset;
}
